* {
    font-family: Arial;
}

body {
    padding: 32px;
}

pre {
    padding: 6px 28px 6px 28px;
    background-color: #E8EEF7;
}

pre, pre *, code, code *, kbd {
    font-family: monospace;
    font-size: 10pt;
}

h1, h1 * {
    font-size: 24pt;
}

p, td, th, li, .breadcrumbs {
    font-size: 10pt;
}

p, li {
    line-height: 140%;
    max-width: none;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    margin: 8px 0 8px 0;
}

th, td {
    border: 1px solid black;
    padding: 3px 6px 3px 6px;
    min-width: 5em;
}

td {
    background-color: white;
    vertical-align: top;
}

th {
    background-color: #C3D9FF;
}

li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.example, :not(th)[concordion\:example], :not(th)[c\:example] {
    padding: 6px 16px 6px 16px;
    border: 1px solid #C3D9FF;
    margin: 6px 0 28px 0;
    background-color: #F5F9FD;
}

.example h3, [concordion\:example] h3, [c\:example] h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12pt;
}

.special {
    font-style: italic;
}

.idea {
    font-size: 9pt;
    color: #888;
    font-style: italic;
}

.tight li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.commentary {
    float: right;
    width: 200px;
    background-color: #ffffd0;
    padding: 8px;
    border: 3px solid #eeeeb0;
    margin: 10px 0 10px 10px;
}

.commentary, .commentary * {
    font-size: 8pt;
}

.information {
    padding: 2px 12px 6px 12px;
    border: 1px solid #EEEEB0;
    margin: 6px 0px 28px 0px;
    background-color: #FFFFD0;
}

.information h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12pt;
}

.footer {
    text-align: right;
    margin-top: 40px;
    font-size: 8pt;
    width: 100%;
    color: #999;
}

.footer .testTime {
    padding: 2px 0 0 0;
}

.skeuomorphic {
    border: 1px solid lightgray;
    -webkit-box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.75);
}